extend layout 
block content 
    if user && user.isMember === false 
        h1 Welcome back #{user.userName}
        a(href="/join-club")
            button.btn.btn-primary Join Club 
        br
        a(href="/logout")
            button.btn.btn-primary Logout
        br
    else if user && user.isMember === true 
        h1 Welcome back #{user.userName}
        a(href="/logout")
            button.btn.btn-primary Logout
        br
        a(href="/create")
            button.btn.btn-primary Create New Message
    else
        a(href="/sign-up") Sign Up 
        br
        a(href="/login") Login   

    if messages.length 

        each text in messages 
            p ________________
            h3 #{text.title}
            p  #{text.text} 
            if user && user.isMember === true
                h6 #{text.timestamp}
                h6 #{text.user.userName} 
            if user && user.isAdmin === "yes"
                br
                button.btn.btn-primary(type='submit') Delete 


